@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./components/buttons";

* {
    font-family: $font-text;
}

.header {
    display: flex;
    padding: 15px;
    background-color: white;
    justify-content: space-around;
    box-shadow: 0px 1px 5px rgb(204, 204, 204);
    position: relative;
    &__button {
        border: none;
        background-color: white;
        display: none;
    }
}

.form-localisation {
    background-color: rgb(234, 234, 234);
    text-align: center;
    &__icon {
        font-size: 20px;
    }
    &__input {
        color: black;
        text-align: center;
        border: none;
        background-color: rgb(234, 234, 234);
        height: 50px;
        font-size: 20px;
        width: 170px;
    }

}

.home-head {
    background-color: rgb(246, 246, 246);
    padding: 30px;
    &__message {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        h1 {
            font-weight: 500;
            font-size: 20px;
            padding-top: 10px;
            width: 70%;
            margin: auto;
        }
        p {
            font-weight: 200;
            font-size: 17px;
            padding: 15px;
        }
    }
    &__button {
        display: block;
        color: white;
        background: linear-gradient($colour-secondary, $colour-primary);
        border-radius: 30px;
        padding: 15px 25px 15px 25px;
        border: none;
        box-shadow: 0px 4px 5px rgb(193,193,193);
        margin: 0 auto 0 auto;
        margin-bottom: 15px;
        font-size: 17px;
    }
}