@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/keyframes";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/footer";

* {
    font-family: $font-text;
}

body {
    max-width: 1440px;
    margin: auto;
    box-shadow: 0px 0px 35px lightgray;
    position: relative;
}

.scale-out-center {
    color: white;
    display: block;
    text-align: center;
    padding-top: 200px;
    margin: auto;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    background-color: rgba($color: lightgray, $alpha: 0.9);
    -webkit-animation: slide-out-fwd-center 0.3s 3s both;
    animation: slide-out-fwd-center 0.3s 3s both;

    p {
        font-family: $font-title;
        font-size: 40px;
        -webkit-animation: text-blur-out 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
        animation: text-blur-out 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
    }
}

a {
    text-decoration: none;
}

.form-localisation {
    background-color: rgb(234, 234, 234);
    text-align: center;

    &__icon {
        font-size: 20px;
    }

    &__input {
        color: black;
        text-align: center;
        border: none;
        background-color: rgb(234, 234, 234);
        height: 50px;
        font-size: 20px;
        width: 170px;
    }

}

.home-head {
    background-color: rgb(246, 246, 246);
    padding: 30px;
    display: flex;
    flex-direction: column;

    &__message {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        text-align: center;

        h1 {
            font-weight: 500;
            font-size: 20px;
            padding-top: 10px;
            width: 70%;
            margin: auto;
        }

        p {
            font-weight: 200;
            font-size: 17px;
            padding: 15px;
        }
    }

    a {
        @include button;
        opacity: 1;
        transition: all 0.3s;
        text-align: center;

        &:hover {
            opacity: 0.8;
            box-shadow: $box-shadow;
        }
    }
}

.home-functionning {
    &__title {
        font-weight: 600;
        font-size: 25px;
        margin: 45px auto 15px auto;
        display: flex;
        justify-content: center;
    }

    &__steps {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:992px) {
            flex-direction: row;
        }
    }
}

.functionning-step {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    width: 380px;
    margin: 25px auto auto auto;
    padding: 15px;
    background-color: $light-gray;
    border-radius: 30px;
    box-shadow: 0px 6px 19px rgb(193, 193, 193);

    @media screen and (max-width: 490px) {
        width: 70%;
    }

    @media screen and (min-width:1340px) {
        width: 27%;

    }

    @media screen and (min-width:992px) and (max-width: 1340px) {
        width: 23%;

    }

    &__number {
        position: relative;
        font-weight: 300;
        font-size: 18px;
        left: -28px;
        padding: 5px 8px 3px 8px;
        border-radius: 25px;
        background-color: $colour-primary;
        color: white;

    }

    &__name {
        font-weight: 500;
        padding: 20px 35px 20px 30px;
    }
}

.home-restaurants {
    background-color: rgb(244, 244, 244);

    &__title {
        font-weight: 600;
        font-size: 25px;
        margin: 45px auto 15px auto;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        width: 430px;
        margin: auto;
        padding-bottom: 40px;
        
        @media screen and (max-width:490px) {
            width: 90%;
        }

        @media screen and (min-width:992px) {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            margin: none;
            justify-content: center;
            padding-bottom: 50px;

        }
    }

}

.restaurant-card {
    margin-top: 40px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgb(193, 193, 193);
    transition: all 0.3s;

    @media screen and (min-width:992px) {
        width: 446px;
        height: 324px;
        margin: 20px;

    }


    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px lighten($colour-primary, 5);
    }
    
    &__img {
        img {
            height: 230px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
        
        &__badge {
            position: absolute;
            top: 5%;
            right: 5%;
            border-radius: 5px;
            padding: 0.7rem;
            background-color: $colour-tertiary;
            color: darken($colour-tertiary, 40%);
    
            &.hidden {
                visibility: hidden;
            }
        }
    }


    &__details {
        height: 75px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-left: 10px;
        padding-top: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &__name {
            font-weight: 500;
            font-size: 22px;
            color: black;

            @media screen and (max-width: 362px) {
                font-size: 18px;
            }
        }

        &__city {
            font-weight: 300;
            padding-top: 10px;
            font-size: 20px;
            color: black;

            @media screen and (max-width: 362px) {
                font-size: 16px;
            }
        }
    }

    &__icon {
        font-size: 35px;
        margin-right: 15px;

        @media screen and (max-width: 362px) {
            font-size: 28px;
        }

        .heart-full {
            position: relative;
            background: -webkit-linear-gradient(45deg, $colour-secondary, $colour-primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            cursor: pointer;
            opacity: 0;
            transition: all 0.9s;
        }

        .heart-empty {
            position: relative;
            right: -44px;
            color: black;

            @media screen and (max-width: 362px) {
                right: -35px;
            }
        }

        .heart-full:hover {
            opacity: 1;
        }
    }
}

/****************** CSS MENU ****************/

.body-menu {
    max-width: 1440px;
    margin: auto;
    box-shadow: 0px 0px 35px lightgray;
    background-color: rgb(243, 243, 243);
}

.main-menu {
    background-color: rgb(243, 243, 243);

    @media screen and (min-width:992px) {
        padding-bottom: 40px;
    }
}

.background-wallpaper {
    margin: auto;

    img {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
}

.menu {
    background-color: rgb(245, 245, 245);
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -30px;
    padding: 0 20px;

    &__head {
        margin: auto;
        padding-top: 1rem;
        margin-bottom: 40px;
        font-family: $font-title;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: end;

        &__icon {
            position: relative;
            
            &>.heart-empty {
                color: black;
                position: relative;
                right: -29px;

            }

            &>.heart-full {
                background: -webkit-linear-gradient(45deg, $colour-secondary, $colour-primary);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                position: relative;
                right: 6px;
                font-size: 1.85rem;
                opacity: 0;
                transition: all 0.8s;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                @media screen and (max-width: 362px) {
                    right: -29px;
                    top: -31px;
                }

            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            margin: auto;
            justify-content: space-around;
            margin-top: 3em;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        a {
            @include button;
            margin-top: 30px;
            padding: 15px 50px 15px 50px;
            opacity: 1;
            transition: all 0.3s;

            &:hover {
                opacity: 0.8;
                box-shadow: $box-shadow;
            }
        }
    }

    &__dishes {
        display: flex;
        flex-direction: column;

        @media screen and (max-width:992px) {
            margin-bottom:40px;            
        }

        @media screen and (min-width: 992px) {
            width: 30%;
            max-width: none;
        }

        &__category {
            margin-bottom: 35px;
            font-size: 20px;
            font-weight: 300;

            h3 {
                position: relative;
            }

            h3::after {
                content: '';
                width: 50px;
                height: 4px;
                background: #99e2d0;
                position: absolute;
                z-index: 20;
                left: 0px;
                bottom: -8px;
            }
        }
    }
}

.dishes__selection {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin: auto auto 15px auto;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgb(204, 204, 204);
    align-items: flex-end;
    overflow: hidden;
    opacity: 0;

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation: fade-in-bottom 1s;
            animation-fill-mode: forwards;
            animation-delay: 200ms * $i;
        }
    }

    &:hover>&__validate {
        margin-right: 0;

        i {
            animation: spin-check 0.5s both
        }
    }

    &__information {
        width: 100%;
        justify-content: space-between;
        transition: all 0.5s;
        position: relative;
        overflow: hidden;


        &__name {
            padding: 15px 10px 0px 15px;
            font-size: 20px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            font-size: 18px;

            &__flavor {
                font-weight: 200;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0px 0px 5px 5px;
            }

            &__price {
                margin-left: 30px;
                font-weight: 500;
            }
        }
    }

    &__validate {
        background-color: $colour-tertiary;
        z-index: 1;
        width: 105px;
        height: 78px;
        margin-right: -105px;
        display: grid;
        place-items: center;
        transition: margin 0.5s;

        i {
            font-size: 30px;
            color: white;
        }
    }

}