.footer {
    background-color: rgb(46, 46, 46);
    color: white;

    &__about-us {
        height: 210px;
        margin: auto;
        font-family: $font-text;

        @media screen and (max-width:992px) {
            padding-left: 20px;            
        }

        @media screen and (min-width:992px) {
            height: 140px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            
        }

        &__title {
            font-size: 20px;
            font-family: $font-title;
            margin-bottom: 20px;
            padding-top: 20px;

            @media screen and (min-width:992px) {

                margin-bottom: 0;
                margin-top: 0;
                margin: 10px auto auto auto;
                padding-top: 0;

            }

        }

        &__link {
            display: flex;
            flex-direction: column;

            @media screen and (min-width:992px) {
                flex-direction: row;
                margin: 0;
                justify-content: space-around;
                
            }

            a {
                i {
                    font-size: 14px;
                    width: 30px;
                }

                text-decoration: none;
                color: white;
                padding-bottom: 15px;

                &:nth-child(4) {
                    padding-bottom: 40px;
                }
            }
        }
    }
}