.header {
    display: flex;
    padding: 15px;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 1px 5px rgb(204, 204, 204);
    position: relative;

    &__button {
        border: none;
        color: black;
        background-color: white;
        position: relative;
        left: -105px;
        top: 5px;
        font-size: 25px;
    }
}