@-webkit-keyframes slide-out-fwd-center {
  0% {
    visibility: visible;
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    visibility: visible;
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}
@-webkit-keyframes text-blur-out {
  0% {
    visibility: visible;
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    visibility: hidden;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    visibility: visible;
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    visibility: hidden;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes spin-check {
  0% {
    transform: rotate(-810deg);
  }
  100% {
    transform: rotate(0);
  }
}
.header {
  display: flex;
  padding: 15px;
  background-color: white;
  justify-content: center;
  box-shadow: 0px 1px 5px rgb(204, 204, 204);
  position: relative;
}
.header__button {
  border: none;
  color: black;
  background-color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 25px;
}

.footer {
  background-color: rgb(46, 46, 46);
  color: white;
}
.footer__about-us {
  /*width: 430px;*/
  height: 210px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 992px) {
  .footer__about-us {
    padding-left: 20px;
  }
}
@media screen and (min-width: 992px) {
  .footer__about-us {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.footer__about-us__title {
  font-size: 20px;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 992px) {
  .footer__about-us__title {
    margin-bottom: none;
    margin-top: none;
    margin: 10px auto auto auto;
    padding-top: none;
  }
}
.footer__about-us__link {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .footer__about-us__link {
    flex-direction: row;
    margin: none;
    justify-content: space-around;
  }
}
.footer__about-us__link a {
  text-decoration: none;
  color: white;
  padding-bottom: 15px;
}
.footer__about-us__link a i {
  font-size: 14px;
  width: 30px;
}
.footer__about-us__link a:nth-child(4) {
  padding-bottom: 40px;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
  box-shadow: 0px 0px 35px lightgray;
  position: relative;
}

.scale-out-center {
  color: white;
  display: block;
  text-align: center;
  padding-top: 200px;
  margin: auto;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(211, 211, 211, 0.9);
  -webkit-animation: slide-out-fwd-center 0.3s 3s both;
  animation: slide-out-fwd-center 0.3s 3s both;
}
.scale-out-center p {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  -webkit-animation: text-blur-out 1.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
  animation: text-blur-out 1.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}

a {
  text-decoration: none;
}

.form-localisation {
  background-color: rgb(234, 234, 234);
  text-align: center;
}
.form-localisation__icon {
  font-size: 20px;
}
.form-localisation__input {
  color: black;
  text-align: center;
  border: none;
  background-color: rgb(234, 234, 234);
  height: 50px;
  font-size: 20px;
  width: 170px;
}

.home-head {
  background-color: rgb(246, 246, 246);
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.home-head__message {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
  text-align: center;
}
.home-head__message h1 {
  font-weight: 500;
  font-size: 20px;
  padding-top: 10px;
  width: 70%;
  margin: auto;
}
.home-head__message p {
  font-weight: 200;
  font-size: 17px;
  padding: 15px;
}
.home-head a {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  border: none;
  box-shadow: 0px 4px 5px rgb(193, 193, 193);
  margin: 0 auto 0 auto;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
  text-align: center;
}
.home-head a:hover {
  opacity: 0.8;
  box-shadow: 0px 6px 19px rgb(193, 193, 193);
}

.home-functionning__title {
  font-weight: 600;
  font-size: 25px;
  margin: 45px auto 15px auto;
  display: flex;
  justify-content: center;
}
.home-functionning__steps {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .home-functionning__steps {
    flex-direction: row;
  }
}

.functionning-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  width: 380px;
  margin: 25px auto auto auto;
  padding: 15px;
  background-color: rgb(244, 244, 244);
  border-radius: 30px;
  box-shadow: 0px 6px 19px rgb(193, 193, 193);
}
@media screen and (max-width: 490px) {
  .functionning-step {
    width: 70%;
  }
}
@media screen and (min-width: 1340px) {
  .functionning-step {
    width: 27%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1340px) {
  .functionning-step {
    width: 23%;
  }
}
.functionning-step__number {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  left: -28px;
  padding: 5px 8px 3px 8px;
  border-radius: 25px;
  background-color: #9356DC;
  color: white;
}
.functionning-step__name {
  font-weight: 500;
  padding: 20px 35px 20px 30px;
}

.home-restaurants {
  background-color: rgb(244, 244, 244);
}
.home-restaurants__title {
  font-weight: 600;
  font-size: 25px;
  margin: 45px auto 15px auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.home-restaurants__cards {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: auto;
  padding-bottom: 40px;
}
@media screen and (max-width: 490px) {
  .home-restaurants__cards {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .home-restaurants__cards {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: none;
    justify-content: center;
    padding-bottom: 50px;
  }
}

.restaurant-card {
  margin-top: 40px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 5px rgb(193, 193, 193);
  transition: all 0.3s;
}
@media screen and (min-width: 992px) {
  .restaurant-card {
    width: 446px;
    height: 324px;
    margin: 20px;
  }
}
.restaurant-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px #a16be0;
}
.restaurant-card__img img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant-card__img__badge {
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 5px;
  padding: 0.7rem;
  background-color: #99E2D0;
  color: #278870;
}
.restaurant-card__img__badge.hidden {
  visibility: hidden;
}
.restaurant-card__details {
  height: 75px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;
}
.restaurant-card__info {
  display: flex;
  flex-direction: column;
}
.restaurant-card__info__name {
  font-weight: 500;
  font-size: 22px;
  color: black;
}
@media screen and (max-width: 362px) {
  .restaurant-card__info__name {
    font-size: 18px;
  }
}
.restaurant-card__info__city {
  font-weight: 300;
  padding-top: 10px;
  font-size: 20px;
  color: black;
}
@media screen and (max-width: 362px) {
  .restaurant-card__info__city {
    font-size: 16px;
  }
}
.restaurant-card__icon {
  font-size: 35px;
  margin-right: 15px;
}
@media screen and (max-width: 362px) {
  .restaurant-card__icon {
    font-size: 28px;
  }
}
.restaurant-card__icon .heart-full {
  position: relative;
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  opacity: 0;
  transition: all 0.9s;
}
.restaurant-card__icon .heart-empty {
  position: relative;
  right: -44px;
  color: black;
}
@media screen and (max-width: 362px) {
  .restaurant-card__icon .heart-empty {
    right: -35px;
  }
}
.restaurant-card__icon .heart-full:hover {
  opacity: 1;
}

/****************** CSS MENU ****************/
.body-menu {
  max-width: 1440px;
  margin: auto;
  box-shadow: 0px 0px 35px lightgray;
  background-color: rgb(243, 243, 243);
}

.main-menu {
  background-color: rgb(243, 243, 243);
}
@media screen and (min-width: 992px) {
  .main-menu {
    padding-bottom: 40px;
  }
}

.background-wallpaper {
  margin: auto;
}
.background-wallpaper img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.menu {
  background-color: rgb(245, 245, 245);
  border-radius: 30px 30px 0px 0px;
  position: relative;
  top: -30px;
  padding: 0 20px;
}
.menu__head {
  margin: auto;
  padding-top: 1rem;
  margin-bottom: 40px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
.menu__head__icon {
  position: relative;
}
.menu__head__icon > .heart-empty {
  color: black;
  position: relative;
  right: -29px;
}
.menu__head__icon > .heart-full {
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  right: 6px;
  font-size: 1.85rem;
  opacity: 0;
  transition: all 0.8s;
  cursor: pointer;
}
.menu__head__icon > .heart-full:hover {
  opacity: 1;
}
@media screen and (max-width: 362px) {
  .menu__head__icon > .heart-full {
    right: -29px;
    top: -31px;
  }
}
.menu__body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .menu__body {
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    margin-top: 3em;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.menu__body a {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  border: none;
  box-shadow: 0px 4px 5px rgb(193, 193, 193);
  margin: 0 auto 0 auto;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 30px;
  padding: 15px 50px 15px 50px;
  opacity: 1;
  transition: all 0.3s;
}
.menu__body a:hover {
  opacity: 0.8;
  box-shadow: 0px 6px 19px rgb(193, 193, 193);
}
.menu__dishes {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  .menu__dishes {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 992px) {
  .menu__dishes {
    width: 30%;
    max-width: none;
  }
}
.menu__dishes__category {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.dishes__selection {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  margin: auto auto 15px auto;
  border-radius: 15px;
  box-shadow: 0px 1px 5px rgb(204, 204, 204);
  align-items: flex-end;
  overflow: hidden;
}
.dishes__selection:hover > .dishes__selection__validate {
  margin-right: 0;
}
.dishes__selection:hover > .dishes__selection__validate i {
  animation: spin-check 0.5s both;
}
.dishes__selection__information {
  width: 100%;
  justify-content: space-between;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.dishes__selection__information__name {
  padding: 15px 10px 0px 15px;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dishes__selection__information__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}
.dishes__selection__information__details__flavor {
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 0px 5px 5px;
}
.dishes__selection__information__details__price {
  margin-left: 30px;
  font-weight: 500;
}
.dishes__selection__validate {
  background-color: #99E2D0;
  z-index: 1;
  width: 105px;
  height: 78px;
  margin-right: -105px;
  display: grid;
  place-items: center;
  transition: margin 0.5s;
}
.dishes__selection__validate i {
  font-size: 30px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
