.footer {
  background-color: rgb(46, 46, 46);
  color: white;
}
.footer__about-us {
  width: 430px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.footer__about-us__title {
  font-size: 20px;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 20px;
  padding-top: 20px;
}
.footer__about-us__link {
  display: flex;
  flex-direction: column;
}
.footer__about-us__link a {
  text-decoration: none;
  color: white;
  padding-bottom: 15px;
}
.footer__about-us__link a i {
  font-size: 14px;
  width: 30px;
}
.footer__about-us__link a:nth-child(4) {
  padding-bottom: 40px;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
  box-shadow: 0px 0px 35px lightgray;
  position: relative;
}

@-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
.scale-out-center {
  z-index: 10;
  color: white;
  text-align: center;
  padding-top: 200px;
  margin: auto;
  width: 100%;
  position: absolute;
  height: 2546px;
  background-color: #99E2D0;
  -webkit-animation: slide-out-fwd-center 0.3s 3s both;
  animation: slide-out-fwd-center 0.3s 3s both;
}
.scale-out-center p {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  -webkit-animation: text-blur-out 1.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
  animation: text-blur-out 1.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  padding: 15px;
  background-color: white;
  justify-content: space-around;
  box-shadow: 0px 1px 5px rgb(204, 204, 204);
  position: relative;
}
.header__button {
  border: none;
  background-color: white;
  display: none;
}

.form-localisation {
  background-color: rgb(234, 234, 234);
  text-align: center;
}
.form-localisation__icon {
  font-size: 20px;
}
.form-localisation__input {
  color: black;
  text-align: center;
  border: none;
  background-color: rgb(234, 234, 234);
  height: 50px;
  font-size: 20px;
  width: 170px;
}

.home-head {
  background-color: rgb(246, 246, 246);
  padding: 30px;
}
.home-head__message {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}
.home-head__message h1 {
  font-weight: 500;
  font-size: 20px;
  padding-top: 10px;
  width: 70%;
  margin: auto;
}
.home-head__message p {
  font-weight: 200;
  font-size: 17px;
  padding: 15px;
}
.home-head__button {
  display: block;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  border: none;
  box-shadow: 0px 4px 5px rgb(193, 193, 193);
  margin: 0 auto 0 auto;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
}

.home-functionning__title {
  font-weight: 600;
  font-size: 25px;
  margin: 45px auto 15px auto;
  width: 430px;
}
.home-functionning__steps {
  display: flex;
  flex-direction: column;
}

.functionning-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  width: 380px;
  margin: 25px auto auto auto;
  padding: 15px;
  background-color: rgb(244, 244, 244);
  border-radius: 30px;
  box-shadow: 0px 4px 5px rgb(193, 193, 193);
}
.functionning-step__number {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  left: -28px;
  padding: 5px 8px 3px 8px;
  border-radius: 25px;
  background-color: #9356DC;
  color: white;
}
.functionning-step__name {
  font-weight: 500;
  padding: 20px 35px 20px 30px;
}

.home-restaurants {
  background-color: rgb(244, 244, 244);
}
.home-restaurants__title {
  font-weight: 600;
  font-size: 25px;
  margin: 45px auto 15px auto;
  width: 430px;
  padding-top: 40px;
}
.home-restaurants__cards {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: auto;
}

.restaurant-card {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 5px rgb(193, 193, 193);
}
.restaurant-card:nth-child(4) {
  margin-bottom: 70px;
}
.restaurant-card__img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant-card__badge {
  position: relative;
  top: -205px;
  left: 320px;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #99E2D0;
  color: #278870;
}
.restaurant-card__badge.hidden {
  visibility: hidden;
}
.restaurant-card__details {
  height: 75px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 10px;
}
.restaurant-card__info {
  display: flex;
  flex-direction: column;
}
.restaurant-card__info__name {
  font-weight: 500;
  font-size: 22px;
  color: black;
}
.restaurant-card__info__city {
  font-weight: 300;
  padding-top: 10px;
  font-size: 20px;
  color: black;
}
.restaurant-card__icon {
  font-size: 35px;
  margin-right: 15px;
}
.restaurant-card__icon .heart-full {
  position: relative;
  color: white;
  transition-duration: 0.9s;
  cursor: pointer;
}
.restaurant-card__icon .heart-empty {
  position: relative;
  right: -44px;
  color: black;
  z-index: 1;
  cursor: pointer;
}
.restaurant-card__icon .heart-empty:hover {
  z-index: 0;
}
.restaurant-card__icon .heart-full:hover {
  z-index: 1;
  background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*
************************************************
************************************************
***************** CSS MENU *********************
************************************************
************************************************
*/
/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 2:35:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
.body-menu {
  max-width: 1440px;
  margin: auto;
  box-shadow: 0px 0px 35px lightgray;
  background-color: rgb(243, 243, 243);
}

.main-menu {
  background-color: rgb(243, 243, 243);
}

.background-wallpaper {
  margin: auto;
}
.background-wallpaper img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.menu {
  background-color: rgb(245, 245, 245);
  border-radius: 30px 30px 0px 0px;
  position: relative;
  top: -30px;
}
.menu__head {
  width: 430px;
  margin: auto;
  padding: 30px 20px 30px 70px;
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}
@media screen and (max-width: 520px) {
  .menu__head {
    padding: 30px 20px 30px 30px;
  }
}
.menu__dishes {
  width: 430px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.menu__dishes__category {
  margin-bottom: 15px;
  width: 85%;
  margin: auto auto 25px auto;
}

.dishes__selection {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 80%;
  max-height: 80px;
  margin: auto auto 15px auto;
  border-radius: 15px;
  box-shadow: 0px 1px 5px rgb(204, 204, 204);
  align-items: flex-end;
}
.dishes__selection:hover > .dishes__selection__validate {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s ease both;
  transform-origin: right;
}
.dishes__selection:hover > .dishes__selection__information {
  width: 240px;
}
.dishes__selection__information {
  width: 100%;
  justify-content: space-between;
  transition: all 0.5s;
  position: relative;
}
.dishes__selection__information__name {
  padding: 10px;
  font-weight: 500;
}
.dishes__selection__information__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.dishes__selection__information__details__flavor {
  font-weight: 200;
}
.dishes__selection__information__details__price {
  margin-left: 30px;
  font-weight: 500;
}
.dishes__selection__validate {
  background-color: #99E2D0;
  width: 1px;
  right: 144px;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 20px;
  border-radius: 0px 14px 14px 0px;
}
.dishes__selection__validate i {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}

/*
&:hover {
    &__validate {
        width: 20%;
        background-color: red;
        scale: (2);
    }
}
/*
&__details {
    width: 90%;
    padding: 10px;

    &__name {
        font-weight: 500;
        padding-bottom: 10px;
    }

    &__flavor {
        font-weight: 300;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 203px;
    }
}

&__price {
    text-align: right;
    padding: 10px;
}

&__validate {
    background-color: $colour-tertiary;
    display: flex;
    align-items: center;
    padding: inherit;
    height: 80px;
    width: 5%;
    color: white;
    background-color: white;
    transition: transform 2s;
    border-radius: 0px 15px 15px 0px;
    transform: scaleX(1);
    position: relative;
    transition: all 0.6s;
    right: -1px;

    &:hover {
        background-color: $colour-tertiary;
        width: 13%;
        padding-left: 20px;
        padding-right: 21px;
        margin-left: 10px;
        transform: scaleX(1)
    }
}
*/
.menu__button {
  display: block;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  border: none;
  box-shadow: 0px 4px 5px rgb(193, 193, 193);
  margin: 0 auto 0 auto;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 30px;
  padding: 15px 50px 15px 50px;
}

/*# sourceMappingURL=style.css.map */
