.body-menu {
    max-width: 1440px;
    margin: auto;
    box-shadow: 0px 0px 35px lightgray;
    background-color: rgb(243, 243, 243);
}

.main-menu {
    background-color: rgb(245, 245, 245);

    /*
    @media screen and (min-width:992px) {
        padding-bottom: 40px;
    }
    */
}

.background-wallpaper {
    margin: auto;

    img {
        object-fit: cover;
        height: 200px;
        width: 100%;

        @media screen and (min-width: 769px) {
            height: 465px;
        }
    }
}

.menu {
    background-color: rgb(245, 245, 245);
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -30px;
    padding: 0 20px;

    @media screen and (min-width: 769px) {
        top: -140px;
        
    }
    &__head {
        margin: auto;
        padding-top: 1rem;
        margin-bottom: 40px;
        font-family: $font-title;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: end;

        @media screen and (min-width: 769px) {
            padding-top: 40px;    
        }

        &__icon {
            position: relative;
            
            &>.heart-empty {
                color: black;
                position: relative;
                right: -29px;

            }

            &>.heart-full {
                background: -webkit-linear-gradient(45deg, $colour-secondary, $colour-primary);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                position: relative;
                right: 6px;
                font-size: 1.85rem;
                opacity: 0;
                transition: all 0.8s;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                @media screen and (max-width: 362px) {
                    right: -29px;
                    top: -31px;
                }

            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            margin: auto;
            justify-content: space-around;
            margin-top: 3em;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        a {
            @include button;
            margin-top: 30px;
            padding: 15px 50px 15px 50px;
            opacity: 1;
            transition: all 0.3s;

            @media screen and (min-width: 769px) {
                margin-top: 70px;                
            }

            &:hover {
                opacity: 0.8;
                box-shadow: $box-shadow;
            }
        }
    }

    &__dishes {
        display: flex;
        flex-direction: column;

        @media screen and (max-width:992px) {
            margin-bottom:40px;            
        }

        @media screen and (min-width: 992px) {
            width: 30%;
            max-width: none;
        }

        &__category {
            margin-bottom: 35px;
            font-size: 20px;
            font-weight: 300;

            h3 {
                position: relative;
            }

            h3::after {
                content: '';
                width: 50px;
                height: 4px;
                background: #99e2d0;
                position: absolute;
                z-index: 20;
                left: 0px;
                bottom: -8px;
            }
        }
    }
}

.dishes__selection {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin: auto auto 15px auto;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgb(204, 204, 204);
    align-items: flex-end;
    overflow: hidden;
    opacity: 0;

    &:hover>&__validate {
        margin-right: 0;

        i {
            animation: spin-check 0.5s both
        }
    }

    &__information {
        width: 100%;
        justify-content: space-between;
        transition: all 0.5s;
        position: relative;
        overflow: hidden;


        &__name {
            padding: 15px 10px 0px 15px;
            font-size: 20px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            font-size: 18px;

            &__flavor {
                font-weight: 200;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0px 0px 5px 5px;
            }

            &__price {
                margin-left: 30px;
                font-weight: 500;
            }
        }
    }

    &__validate {
        background-color: $colour-tertiary;
        z-index: 1;
        width: 105px;
        height: 78px;
        margin-right: -105px;
        display: grid;
        place-items: center;
        transition: margin 0.5s;

        i {
            font-size: 30px;
            color: white;
        }
    }

}

@for $i from 1 through 10 {
    .dish-#{$i} {
        animation: fade-in-bottom 1s;
        animation-fill-mode: forwards;
        animation-delay: 200ms * $i;
    }
}